---
layout: default
---
<div class="well">
  {% if page.subtitle %}
  <h4 class="home-subtitle">{{ page.subtitle }}</h4> {% endif %}
  <div>
    {{ content }}
  </div>
  <p>C/C++</p>
  <div class="container2">
    <div class="skills cplusplus">80%</div>
  </div>

  <p>HTML</p>
  <div class="coontainer2">
    <div class="skills html">70%</div>
  </div>

  <p>JavaScript</p>
  <div class="coontainer2">
    <div class="skills js">40%</div>
  </div>


  <p>SQL</p>
  <div class="coontainer2">
    <div class="skills sql">60%</div>
  </div>

  <p>Python</p>
  <div class="coontainer2">
    <div class="skills python">80%</div>
  </div>

  <p>Ruby on Rails</p>
  <div class="coontainer2">
    <div class="skills ror">80%</div>
  </div>

  <p>Java</p>
  <div class="coontainer2">
    <div class="skills java">90%</div>
  </div>


</div>
